/* GENERAL STYLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Fredoka One', cursives;
}

/* STYLE WEB-PAGE */

#container {
    margin: auto;
    width: 80%;
}

/* STYLE HEADER */

header {
    text-align: center;
    margin-bottom: 3%;
}

header h1 {
    color: rgb(211, 67, 112);
    margin: 3% 0;
}

/* STYLE MAIN */

#card-container {
    width: 100%;
}

.card {
    float: left;
    width: calc(100% / 3 - 16px);
    margin: 8px;
    background-color: black;
    font-size: 0;
    border-radius: 5px;
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

.card-photo {
    width: 30%;
    float: left;
}

.card-info {
    width: 70%;
    float: left;
    padding-left: 8px;
    margin: 12px 0;
}

/* SINGLE ELEMENTS STYLE */

img {
    width: 100%;
    border-radius: 5px 0 0 5px;
}

h3 {
    font-size: 18px;
}

h3, span {
    color: white;
}

a {
    color: rgb(117, 251, 253);
    text-decoration: none;
}

span, a {
    font-size: 12px;
    display: block;
}

h3, span, a {
    line-height: 28px;
}